#!/bin/bash
# Delete mode
export CMD_DELETE="False"
# Add mode
export CMD_ADD="True"
# Cleanup songs without an internal ID after running (be careful!)
export CMD_CLEANUP="False"
# Type of songs to handle (gb or sb or both comman separated)
export TYPE="gb"
# Source of files (can be nc for nextcloud or local)
export SOURCE="nc"
# Path to the TXT file with the Gesangbuch metadata (locally)
export GB_TXT_FILE="gesangbuch.txt"
# Path to the Gesangbuch slides files
export GB_FILE_PATH="gb_songs"
# Path to the Songbeamer song files
export SB_FILE_PATH="sb_songs"
# URL of the nextcloud instance
export NEXTCLOUD_URL="https://my.cloud.de"
# User for the nextcloud instance
export NEXTCLOUD_USER="patrick"
# Password for the nextcloud instance
export NEXTCLOUD_PASS="my-token-here"
# URL of the ChurchTools instance
export CT_URL="https://myinstance.church.tools/api" 
# API token for the ChurchTools instance
export CT_API_TOKEN="ct-api-token"
# ChurchTools category for Gesangbuch songs
export CT_SONG_CATEGORY_GB="EmK Gesangbuch"
# ChurchTools category for Songbeamer songs
export CT_SONG_CATEGORY_SB="Lobpreislieder"
# ChurchTools arrangement name to use
export CT_SONG_ARRANGEMENT_NAME="My arrangement"
# Loglevel
export LOGLEVEL="DEBUG"